* {
  margin: 0;
  padding: 0; }

.style-cards {
  margin: 2rem;
  color: #FFFFFF;
  background-color: #FFFFFF; }

.nav-bar-sty {
  position: sticky;
  background: #FFFFFF;
  z-index: 99; }

.line-divided {
  height: 0.5rem;
  background-color: #FE98B5; }

.carrusel-title {
  position: absolute;
  width: 25rem;
  height: 8rem;
  left: 5rem;
  top: 11rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 4rem;
  color: #FFFFFF; }

.carrusel-text {
  position: absolute;
  width: 3.7rem;
  height: 1.6rem;
  left: 5rem;
  top: 9rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #FFFFFF; }

.carrusel-boton {
  position: absolute;
  width: 8rem;
  height: 3rem;
  left: 5rem;
  top: 21rem;
  background: #FE336D;
  border-radius: 0.5rem;
  border: none;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: center;
  color: #FFFFFF; }

.carrusel-onda {
  position: absolute;
  left: 1.4rem;
  right: 1rem;
  top: 5.5rem; }

@media only screen and (max-width: 500px) {
  .carrusel-title {
    width: 6rem;
    height: 2rem;
    left: 2rem;
    top: 3.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem; }
  .carrusel-text {
    width: 1.8rem;
    height: 1.6rem;
    left: 2rem;
    top: 2.5rem;
    font-size: 0.8rem;
    line-height: 0.8rem; }
  .carrusel-boton {
    width: 3rem;
    height: 1.3rem;
    left: 2rem;
    top: 2rem;
    font-size: 0.5rem;
    line-height: 0.8rem; }
  .carrusel-onda {
    width: 0.6rem;
    left: 0.5rem;
    right: 0.4rem;
    top: 0.6rem; } }

@media only screen and (max-width: 900px) {
  .carrusel-title {
    width: 12rem;
    height: 4rem;
    left: 4rem;
    top: 4.2rem;
    font-size: 1.7rem;
    line-height: 1.7rem; }
  .carrusel-text {
    width: 1.8rem;
    height: 1.6rem;
    left: 4rem;
    top: 3.4rem;
    font-size: 0.5rem;
    line-height: 0.8rem; }
  .carrusel-boton {
    width: 3rem;
    height: 1.3rem;
    left: 4rem;
    top: 8rem;
    font-size: 0.5rem;
    line-height: 0.8rem; }
  .carrusel-onda {
    width: 1rem;
    left: 0.5rem;
    right: 0.4rem;
    top: 0.3rem; } }

body footer {
  color: #FE336D;
  background-color: rgba(254, 152, 181, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem; }
  body footer .footer-column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  body footer .footer-column-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center; }
  body footer .footer-right a {
    text-decoration: none; }
  body footer .footer-right p {
    margin-bottom: 5px; }
  body footer .footer-logo {
    width: 100%; }
  body footer .wsppFixed {
    position: fixed;
    z-index: 9999;
    bottom: 6%;
    right: 6%;
    width: 8%; }
  @media only screen and (max-width: 500px) {
    body footer .footer-logo {
      width: 50%; } }

.newsl-sty {
  display: grid;
  grid-template-columns: 30% 15% 55%;
  grid-template-rows: 100%;
  grid-template-areas: "one  two  three"; }
  .newsl-sty-1 {
    grid-area: one;
    justify-content: center; }
  .newsl-sty-2 {
    grid-area: two;
    width: 80%;
    height: 80%;
    text-align: center; }
  .newsl-sty-3 {
    grid-area: three; }
    .newsl-sty-3-mailbox {
      border-radius: 1rem 0 0 1rem; }
  .newsl-sty-button {
    background: #FE336D;
    border-radius: 0 1rem 1rem 0;
    border: none;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    color: #FFFFFF; }
    .newsl-sty-button:hover {
      color: white; }

@media only screen and (max-width: 700px) {
  .newsl-sty {
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "two   one" "three three"; }
    .newsl-sty-1 {
      font-size: 0.7rem; }
    .newsl-sty-3 {
      padding: 0.5rem; } }

.category, .productdest {
  display: grid;
  height: auto;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 85%;
  grid-row-gap: 1rem;
  grid-template-areas: "title title title title" "categ1 categ2 categ3 categ4"; }
  .category-title, .productdest-title, .bikini-title {
    position: absolute;
    left: 3rem;
    grid-area: title;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #959595; }
  .category-img-1 {
    max-width: 100%;
    grid-area: categ1;
    text-align: center; }
    .category-img-1:hover {
      filter: saturate(2); }
  .category-img-2 {
    grid-area: categ2;
    text-align: center; }
    .category-img-2:hover {
      filter: saturate(2); }
  .category-img-3 {
    grid-area: categ3;
    text-align: center; }
    .category-img-3:hover {
      filter: saturate(2); }
  .category-img-4 {
    grid-area: categ4;
    text-align: center; }
    .category-img-4:hover {
      filter: saturate(2); }

@media only screen and (max-width: 1000px) {
  .category, .productdest {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas: "title title" "categ1 categ2" "categ3 categ4"; }
    .category-img-1 {
      width: 7rem;
      height: 6rem; }
    .category-img-2 {
      width: 7rem;
      height: 6rem; }
    .category-img-3 {
      width: 7rem;
      height: 6rem; }
    .category-img-4 {
      width: 7rem;
      height: 6rem; } }

.ola-divided {
  text-align: center; }

.productdest-cardprice {
  color: #FE336D;
  font-weight: bold; }

.productdest-cardtitle, .text-vertodo {
  color: #959595;
  font-family: "Montserrat", sans-serif; }

.productdest-cardtype {
  color: #959595;
  font-family: "Montserrat", sans-serif; }

.card-boton {
  background: #FE336D;
  border-radius: 0.5rem;
  border: none;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: center;
  color: #FFFFFF; }
  .card-boton:hover {
    background-color: #FE98B5;
    color: white; }

.slide-box {
  filter: grayscale(100%); }
  .slide-box:hover {
    filter: grayscale(0%); }

.slide-text {
  color: #FE336D;
  font-family: "Nunito", sans-serif; }

.slide-img {
  width: 1rem;
  height: 1rem; }

.colorflecha {
  color: #FE336D;
  filter: grayscale(100%); }
  .colorflecha:hover {
    filter: grayscale(0%); }

@media only screen and (max-width: 500px) {
  .colorflecha {
    width: 1px;
    height: 1px; } }

.info-sty {
  max-width: 100%;
  border: 0;
  margin: 2rem 10rem; }
  .info-sty-text {
    text-align: justify; }

@media only screen and (max-width: 900px) {
  .info-sty {
    margin: 0.5rem 5rem; } }

.navegation-sty {
  text-decoration: none;
  color: black;
  font-weight: bold; }
  .navegation-sty:hover {
    color: #fd0149; }

.img-sty {
  width: 100%;
  height: 100%; }

.text-vertodo {
  text-decoration: none; }
  .text-vertodo:hover {
    color: #fd0149; }

@media only screen and (max-width: 500px) {
  .text-vertodo {
    font-size: 0.5rem; } }

.about {
  width: auto;
  margin: 3rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50% 0%;
  grid-template-rows: 100%;
  grid-template-areas: "imagen texto imagen2"; }
  .about-img {
    grid-area: imagen; }
  .about-text {
    grid-area: texto; }
  .about-imgdos {
    grid-area: imagen2;
    visibility: hidden; }

@media only screen and (max-width: 500px) {
  .about {
    margin: 0.5rem;
    padding: 0.5rem;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50% 0%;
    grid-template-areas: "imagen2" "texto" "imagen"; }
    .about-img {
      grid-area: imagen;
      visibility: hidden;
      width: 0;
      height: 0; }
    .about-text {
      grid-area: texto; }
    .about-imgdos {
      visibility: visible;
      grid-area: imagen2; } }

body #container-main-search {
  width: 100vw;
  display: none; }
  body #container-main-search #close-search {
    position: relative;
    top: 10vh;
    left: 84vw;
    background: none;
    border: none;
    color: white;
    font-size: 2rem; }
  body #container-main-search .container-search {
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    justify-content: center; }
    body #container-main-search .container-search input {
      background: none;
      border: none;
      outline: none;
      color: #fff;
      border-bottom: 1px solid #FFFFFF;
      width: 350px;
      height: 1.8rem;
      font-size: 28px; }
    body #container-main-search .container-search input::placeholder {
      font-family: "Nunito", sans-serif;
      font-style: italic;
      font-weight: 300;
      font-size: 28px;
      color: #fff;
      opacity: .6; }
    body #container-main-search .container-search svg {
      margin-left: -2rem; }
  body #container-main-search #container-list-search {
    display: flex;
    justify-content: center; }
    body #container-main-search #container-list-search #list-searchs {
      width: 350px;
      padding-left: 0; }
      body #container-main-search #container-list-search #list-searchs li {
        list-style: none;
        font-size: 25px;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
        background-color: #fff;
        text-transform: capitalize; }
        body #container-main-search #container-list-search #list-searchs li a {
          color: #FE98B5;
          text-decoration: none; }
        body #container-main-search #container-list-search #list-searchs li:hover {
          opacity: .7; }

body .swiper {
  width: auto !important;
  height: 100%;
  margin-left: 4rem;
  margin-right: 4rem; }

body .swiper-filter .swiper-filter-products {
  margin-left: 0;
  margin-right: 0; }

body .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

body .swiper-content {
  text-align: left; }
  body .swiper-content .slide-info h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FE336D; }
  body .swiper-content .slide-info h5 {
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px; }
  body .swiper-content .slide-info h6 {
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px; }
  body .swiper-content .slide-info .link-ver-mas {
    background: #FE336D;
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px; }
    body .swiper-content .slide-info .link-ver-mas a {
      text-decoration: none;
      color: #fff;
      font-weight: 400;
      font-size: 12px; }

body .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

body .swiper-button-next:after, body .swiper-rtl .swiper-button-prev:after, body .swiper-button-prev:after, body .swiper-rtl .swiper-button-next:after {
  color: #FE336D;
  font-size: 1.5rem; }

body .swiper-button-next, body .swiper-rtl .swiper-button-prev, body .swiper-button-prev, body .swiper-rtl .swiper-button-next {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%; }

body .detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  row-gap: 20px;
  column-gap: 45px;
  margin: 4rem; }
  body .detail-grid .detail-image img {
    width: 100%; }
  body .detail-grid .detail-info {
    font-family: "Montserrat", sans-serif; }
    body .detail-grid .detail-info .absoluteAux {
      position: absolute;
      height: 100%; }
    body .detail-grid .detail-info h3, body .detail-grid .detail-info button {
      font-family: "Nunito", sans-serif; }
    body .detail-grid .detail-info h6 {
      font-style: italic;
      font-weight: 300;
      font-size: 22px;
      line-height: 27px;
      color: #959595; }
    body .detail-grid .detail-info h2 {
      text-transform: capitalize;
      color: #FE336D;
      font-weight: 800;
      font-size: 35px;
      line-height: 43px; }
    body .detail-grid .detail-info h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #CCCCCC;
      margin-top: 1rem; }
    body .detail-grid .detail-info p {
      color: #CCCCCC;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-top: 2rem; }
    body .detail-grid .detail-info button {
      position: relative;
      bottom: 14rem;
      color: white;
      width: 181px;
      height: 45px;
      border-radius: 5px;
      background: #FE336D; }
  body .detail-grid .detail-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body .detail-grid .detail-images .detail-images-container {
      width: 30%; }
      body .detail-grid .detail-images .detail-images-container img {
        width: 100%; }
  body .detail-grid .detail-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    body .detail-grid .detail-button button {
      position: relative;
      bottom: 1rem;
      color: white;
      width: 181px;
      height: 45px;
      border-radius: 5px;
      background: #FE336D; }

body .container-ola {
  margin: auto 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto; }
  body .container-ola .otros-productos h5 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #959595; }
  body .container-ola .image-ola img {
    width: 100%; }
  body .container-ola .ver-todos a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
    color: #959595; }

body {
  position: relative;
  max-width: 100%;
  height: 100%; }
  body .swiper {
    width: 100%;
    height: 100%; }
  body .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  body .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  body a {
    text-decoration: none;
    color: inherit; }
    body a :hover {
      color: #fd0149; }

.modal-header {
  border-bottom: none; }

.btn:focus {
  box-shadow: none; }

a:hover {
  color: white; }

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  color: #FE336D;
  font-size: 1.5rem; }
