@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0; }

.style-cards {
  margin: 2rem;
  color: red;
  background-color: red; }

body footer {
  font-family: "Inter"; }
  body footer .footer-column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  body footer .footer-column-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center; }
  body footer .footer-right .footer-right-3 {
    padding: 0; }
  body footer .footer-right a {
    text-decoration: none; }
  body footer .footer-right p {
    margin-bottom: 5px; }
  body footer .footer-logo {
    width: 100%; }
  body footer .wsppFixed {
    position: fixed;
    z-index: 9999;
    bottom: 1%;
    right: 3%;
    width: 11%; }

body .breadcrumbCustom {
  margin-top: 4%;
  margin-left: 4%; }

body .aboutus-main-img img {
  width: 100%;
  height: 52vh; }

body .titleQS {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%; }

body .content-about {
  display: flex;
  flex-direction: row;
  align-content: center; }
  body .content-about p {
    margin-top: 2rem; }
  body .content-about .content-column-1 {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem; }
    body .content-about .content-column-1 div {
      text-align: center;
      margin-bottom: 5rem; }
      body .content-about .content-column-1 div img {
        width: 50%; }
  body .content-about .content-column-2 {
    margin-top: 2%;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem; }
    body .content-about .content-column-2 .column-2-images {
      text-align: center;
      margin-top: 5rem; }
      body .content-about .content-column-2 .column-2-images div img {
        width: 40%; }
      body .content-about .content-column-2 .column-2-images div img.img-2 {
        margin-top: 1rem; }

body {
  position: relative;
  max-width: 100%;
  height: 100%; }
  body .swiper {
    width: 100%;
    height: 100%; }
  body .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  body .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
