* {
  margin: 0;
  padding: 0; }

.style-cards {
  margin: 2rem;
  color: #FFFFFF;
  background-color: #FFFFFF; }

.nav-bar-sty {
  position: sticky;
  width: 100%;
  height: 116px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  z-index: 99; }

.line-divided {
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0px;
  top: 110px;
  background: #FE98B5; }

.logo-sizing {
  position: absolute;
  width: 130.6px;
  height: 60px;
  left: 75px;
  top: 28px; }

.img-principal {
  background-image: url(../assets/bi11.png);
  background-repeat: round;
  width: 100%;
  height: 500px;
  left: 0px;
  top: 116px; }

.title-img {
  position: absolute;
  width: 406px;
  height: 130px;
  left: 80px;
  top: 287px;
  z-index: 9;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 65px;
  color: #FFFFFF; }

.text-img {
  position: absolute;
  width: 60px;
  height: 27px;
  left: 84px;
  top: 255px;
  z-index: 9;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF; }

.boton-img {
  position: absolute;
  width: 125px;
  height: 48px;
  left: 84px;
  top: 451px;
  background: #FE336D;
  border-radius: 7px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF; }

.onda-img {
  position: absolute;
  left: 15px;
  right: 10px;
  top: 170px;
  bottom: 93.25%; }

body footer .footer-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

body footer .footer-column-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center; }
  body footer .footer-column-2 i {
    font-size: 50px; }

body footer .footer-right a {
  text-decoration: none; }

body footer .footer-right p {
  margin-bottom: 5px; }

body footer .footer-logo {
  width: 100%; }

body footer .wsppFixed {
  position: fixed;
  z-index: 9999;
  bottom: 1%;
  right: 3%;
  width: 11%; }

.category-sty {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 75px;
  top: 686px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #959595; }

.group1 {
  position: absolute;
  width: 246px;
  height: 135.13px;
  left: 76.81px;
  top: 758px; }

.group2 {
  position: absolute;
  width: 246px;
  height: 135.3px;
  left: 339.81px;
  top: 758.01px; }

.group3 {
  position: absolute;
  width: 246px;
  height: 135.3px;
  left: 602.81px;
  top: 758.01px; }

.group4 {
  position: absolute;
  width: 246px;
  height: 135.3px;
  left: 865.81px;
  top: 758.01px; }

.ola-divided {
  position: absolute;
  width: 1035px;
  height: 13.43px;
  left: 77px;
  top: 984px; }

.rectag-icon {
  position: absolute;
  width: 885px;
  height: 181px;
  left: 141px;
  top: 2213px; }

.productos-sty {
  position: absolute;
  width: 208px;
  height: 27px;
  left: 75px;
  top: 1088px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #959595; }

.newsl-sty {
  display: grid;
  grid-template-columns: 30% 15% 55%;
  grid-template-rows: 100%;
  grid-template-areas: "one  two  three"; }
  .newsl-sty-1 {
    grid-area: one;
    justify-content: center; }
  .newsl-sty-2 {
    grid-area: two;
    width: 80%;
    height: 80%; }
  .newsl-sty-3 {
    grid-area: three; }

@media only screen and (max-width: 700px) {
  .newsl-sty {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "two   one" "three three"; }
    .newsl-sty-1 {
      font-size: 0.7rem; }
    .newsl-sty-3 {
      padding: 0.5rem; } }

.mq-column {
  max-width: 100%; }

@media only screen and (max-width: 700px) {
  .mq-column {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 100%;
    grid-template-areas: "change  shipping  pay";
    font-size: smaller; }
    .mq-column-change {
      grid-area: change; }
    .mq-column-shipping {
      grid-area: shipping; }
    .mq-column-pay {
      grid-area: pay; } }

.info-sty {
  max-width: 100%;
  border: 0;
  margin: 2rem 10rem; }
  .info-sty-text {
    text-align: justify; }

@media only screen and (max-width: 900px) {
  .info-sty {
    margin: 0.5rem 5rem; } }

.navegation-sty {
  text-decoration: none;
  color: black;
  font-weight: bold; }

.img-sty {
  width: 100%;
  height: 100%; }

body .swiper {
  width: auto !important;
  height: 100%;
  margin-left: 4rem;
  margin-right: 4rem; }

body .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

body .swiper-content {
  text-align: left; }
  body .swiper-content .slide-info h4 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 20px;
    color: #FE336D; }
  body .swiper-content .slide-info h5 {
    text-transform: capitalize;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 20px; }
  body .swiper-content .slide-info h6 {
    text-transform: capitalize;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 300;
    font-size: 16px; }
  body .swiper-content .slide-info .link-ver-mas {
    background: #FE336D;
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px; }
    body .swiper-content .slide-info .link-ver-mas a {
      text-decoration: none;
      color: #fff;
      font-weight: 400;
      font-size: 12px; }

body .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

body .swiper-button-next:after, body .swiper-rtl .swiper-button-prev:after, body .swiper-button-prev:after, body .swiper-rtl .swiper-button-next:after {
  color: #FE336D;
  font-size: 1.5rem; }

body .swiper-button-next, body .swiper-rtl .swiper-button-prev, body .swiper-button-prev, body .swiper-rtl .swiper-button-next {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%; }

body .detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  row-gap: 20px;
  column-gap: 45px;
  margin: 4rem; }
  body .detail-grid .detail-image img {
    width: 100%; }
  body .detail-grid .detail-info {
    font-family: "Montserrat"; }
    body .detail-grid .detail-info .absoluteAux {
      position: absolute;
      height: 100%; }
    body .detail-grid .detail-info h3, body .detail-grid .detail-info button {
      font-family: "Nunito"; }
    body .detail-grid .detail-info h6 {
      font-style: italic;
      font-weight: 300;
      font-size: 22px;
      line-height: 27px;
      color: #959595; }
    body .detail-grid .detail-info h2 {
      text-transform: capitalize;
      color: #FE336D;
      font-weight: 800;
      font-size: 35px;
      line-height: 43px; }
    body .detail-grid .detail-info h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #CCCCCC;
      margin-top: 1rem; }
    body .detail-grid .detail-info p {
      color: #CCCCCC;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-top: 2rem; }
    body .detail-grid .detail-info button {
      position: relative;
      bottom: 14rem;
      color: white;
      width: 181px;
      height: 45px;
      border-radius: 5px;
      background: #FE336D; }
  body .detail-grid .detail-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body .detail-grid .detail-images .detail-images-container {
      width: 30%; }
      body .detail-grid .detail-images .detail-images-container img {
        width: 100%; }
  body .detail-grid .detail-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    body .detail-grid .detail-button button {
      position: relative;
      bottom: 1rem;
      color: white;
      width: 181px;
      height: 45px;
      border-radius: 5px;
      background: #FE336D; }

body .container-ola {
  margin: auto 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto; }
  body .container-ola .otros-productos h5 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #959595; }
  body .container-ola .image-ola img {
    width: 100%; }
  body .container-ola .ver-todos a {
    font-family: "Montserrat";
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
    color: #959595; }

body {
  background: #FE98B5; }
  body .container-search input {
    background: none;
    border: none;
    color: #fff;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Font Awesome 5 free';
    font-weight: 700; }
  body .container-search input::placeholder {
    color: #fff;
    opacity: .6; }

body {
  position: relative;
  max-width: 100%;
  height: 100%; }
  body .swiper {
    width: 100%;
    height: 100%; }
  body .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  body .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
