//Para modificar:
$colorBlanco: #FFFFFF;
$colorRosaClaro: #FE98B5;
$colorRosaClaroTransparente: rgba(254, 152, 181, 0.5);
$colorRosaOscuro: #FE336D;
$colorGris: #959595;


$tipografiaPrincipal: 'Montserrat', sans-serif;
$tipografiaSecundaria: 'Nunito', sans-serif;
