body{
    .headerProduct{
        margin: auto 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .redes{
            display: none;
            img{
                margin-right: 1rem;
                height: 27px;
            }
        }
    }
    
    .swiper {
        width: auto !important;
        height: 100%;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .mySwiper3,.mySwiper4{
        display: none;
    }
    .swiper-filter{
        .swiper-filter-products{
            margin-left: 0 ;
            margin-right: 0;
        }
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

    }
    
    .swiper-content{
        text-align: left;
        .slide-info{
            h4{
                font-family: $tipografiaSecundaria;
                font-weight: 700;
                font-size: 20px;
                color: $colorRosaOscuro;
            }
            h5{
                text-transform: capitalize;
                font-family: $tipografiaPrincipal;
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
            }
            h6{
                text-transform: capitalize;
                font-family: $tipografiaPrincipal;
                font-style: italic;
                font-weight: 300;
                font-size: 16px;
            }
            .link-ver-mas{
                background: $colorRosaOscuro;
                border-radius: 5px;
                width: 70%;
                
                display: flex;
                justify-content: center;
                padding-top: 4px;
                padding-bottom: 4px;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // color flecha
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
        color: $colorRosaOscuro;
        font-size: 1.5rem;
    }
    // background boton
    .swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-prev, .swiper-rtl .swiper-button-next{
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
    }

    // fin swipper






    .detail-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 3fr 1fr;
        row-gap: 20px;
        column-gap: 45px;
        margin: 4rem;
        .detail-image{
            img{
                width: 100%;
            }
        }
        .detail-info{
            .absoluteAux{position: absolute; height: 100%;}
            .detail-header-info{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                img{
                    margin-right: 1rem;
                    height: 27px;
                }
                h6{
                
                    font-style: italic;
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 27px;
                    color: #959595;
                }
            }
            h6{
            
                font-weight: 300;
                font-size: 16px;
                line-height: 27px;
                color: #959595;
            }
            .talles{
                font-family: $tipografiaPrincipal;
                span:not(.tablaTalles){
                    border: 2px solid #959595;
                    color: #959595;
                    border-radius: 4px;
                    padding: 0.5rem 0.7rem;
                    margin-right: 1rem;
                }
                span.disable{
                    border: 2px solid #CCCCCC;
                    color: #CCCCCC;
                    background: #F0F0F0;
                    background-image: url("/assets/X.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            font-family: $tipografiaPrincipal;
            h3, button{font-family: $tipografiaSecundaria;}
            
            h2{
                text-transform: capitalize;
                color: $colorRosaOscuro;
                font-weight: 800;
                font-size: 35px;
                line-height: 43px;
            }
            h3{
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                color: #CCCCCC;
                margin-top: 1rem;
            }
            p{
                color: #CCCCCC;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                margin-top: 2rem;
            }
            button{
                position: relative;
                bottom: 14rem;
                color: white;
                width: 181px;
                height: 45px;
                border-radius: 5px;
                background: $colorRosaOscuro;
            }
            span button{
                bottom: 0;
                color: #959595;
                border: none;
                background: none;
                width: auto;
            }
            .btn-modals-detail{
                display: flex;
                height: 50%;
                button{
                    width: 25%;
                    height: 50%;
                    padding: 0;
                    background: none;
                    bottom: 0;
                }
            }
        }
        

        .detail-images{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .detail-images-container{

                width: 30%;
                
                img{
                    width: 100%;
                }
            }
        }
        .inMobile{
            display: none;
        }
        .detail-button{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            button{
                border: none;
                position: relative;
                bottom: 1rem;
                color: white;
                width: 181px;
                height: 45px;
                border-radius: 5px;
                background: $colorRosaOscuro;
            }
        }
    }

    .container-ola{
        margin: auto 4rem;
        .otros-productos{
            h5{
                font-family: $tipografiaSecundaria;
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
                color: #959595;
            }
        }
        .image-ola{
            img{
                width: 100%;
            }
        }
        .ver-todos{
            a{
                font-family: $tipografiaPrincipal;
                text-decoration: none;
                font-weight: 300;
                font-size: 12px;
                color: #959595;
            }
        }
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }
}
@media (max-width: 1023px){
    body{
        .mySwiper3{
            display: block;
            
        }
        .mySwiper2{
            display: none;
            
        }
        
    }
}
@media (max-width: 768px){
    body{
        #container-detail{
            margin-top: -60px;
        }
        #swiper-content3{
            .swiper-slide{
                width: 230px !important;
            }
        }
        .headerProduct{
            
            .redes{
                display: block;
                
            }
        }
        .mySwiper4{
            display: block;
        }
        .mySwiper3{
            display: none;
            
        }
        .mySwiper2{
            display: none;
            
        }

        .detail-grid{
            display: block;
            margin: 2rem;
            margin-top: 4rem;
            .inMobile{
                display: flex;
                margin-top: 1rem;
                margin-bottom: 2rem;
                
            }
            .detail-images:not(.inMobile){
                display: none;
            }
            
            .detail-button{
                button{
                    bottom: 0;
                    top: 1rem;
                    width: 100%;

                }
            }
        }
        .detail-info{
            .detail-header-info{
                .redes-down{
                    display: none;
                }
            }
            .talles{
                display: flex;
                justify-content: center;
            }
            .btn-modals-detail{
                border-radius: 12px;
                border: 1px solid #F0F0F0;
                margin-top: 3rem;
                margin-bottom: 3rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }
        .redes-down{
            display: none;
        }

    }
}