//Categorias
.category{
    display: grid;
    height: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 85%;
    grid-row-gap: 1rem;
    grid-template-areas: "title title title title"
                        "categ1 categ2 categ3 categ4";
    
    &-title{
        position: absolute;
        left: 5rem;
        grid-area: title;
        font-family: $tipografiaSecundaria;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #959595;
    }
    &-img-1{
        max-width: 100%;
        grid-area: categ1;
        text-align: center;
        &:hover{
            filter: saturate(8);
        }
    }
    &-img-2{
        grid-area: categ2;
        text-align: center;
        &:hover{
            filter: saturate(8);
        }
    }
    &-img-3{
        grid-area: categ3;
        text-align: center;
        &:hover{
            filter: saturate(8);
        }
    }
    &-img-4{
        grid-area: categ4;
        text-align: center;
        &:hover{
            filter: saturate(8);
        }
    }
}

//Categorias responsive
@media only screen and (max-width: 1000px){
    .category{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 45% 45%;
        grid-template-areas: "title title"
                            "categ1 categ2"
                            "categ3 categ4";
    }
}

//División en forma de ola
.ola-divided{
    text-align: center;
}


//Productos destacados
.productdest{
    @extend .category;

    &-title{
        @extend .category-title;
    }

    &-cardprice{
        color: $colorRosaOscuro;
        font-weight: bold;
    }

    &-cardtitle{
        color: $colorGris;
        font-family: $tipografiaPrincipal;
    }
    &-cardtype{
        color: $colorGris;
        font-family: $tipografiaPrincipal;
    }
}

.card-boton{
    background: $colorRosaOscuro;
    border-radius: 0.5rem;
    border: none;
    font-family: $tipografiaSecundaria;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    color: $colorBlanco;
    &:hover{
        background-color: $colorRosaClaro;
        color: white;
    }
}


//Cuadro de pago, envios y cambios
.boxinfo{
    height: auto;
    text-align: center;
    border: 0.1rem solid $colorGris;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    grid-template-areas: "pagos fdeliv deliv";

    &-pagos{
        grid-area: pagos;
    }
    &-fastdeliv{
        grid-area: fdeliv;
    }
    &-deliv{
        grid-area: deliv;
    }
}



    