*{
    margin: 0;
    padding: 0;
}

@import "variables";

@import "cards";

body{
    position: relative;
    max-width: 100%;
    height: 100%;
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    footer{
        .footer-column-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .footer-column-2{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-content: center;
            i{
                font-size: 50px;
            }
        }
        .footer-right{
            a{
                text-decoration: none;
            }
            p{
                margin-bottom: 5px;
            }
        }
        .footer-logo{
            width: 100%;
        }
        .wsppFixed{
            
            position: fixed;
            z-index: 9999;
            bottom: 1%;
            right: 3%;
            width: 11%;
            
        }
    }
}