*{
    margin: 0;
    padding: 0;
}

@import "variables";

@import "cards";

@import "home";

@import "footer";

@import "divhome";

@import "infohelp";

@import "products";

@import "aboutus";

@import "busqueda";

@import "detail";

body{
    position: relative;
    max-width: 100%;
    height: 100%;
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    a{
        text-decoration: none;
        color: inherit;
        :hover{
            color: darken($color: $colorRosaOscuro, $amount: 10);
        }
    }
}

.modal-header{
    border-bottom: none;
}

.btn:focus{
    box-shadow: none;
}

a:hover{
    color: white;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color: $colorRosaOscuro;
    font-size: 1.5rem;
}