body{
    footer{
        color: $colorRosaOscuro;
        background-color: $colorRosaClaroTransparente;
        font-family: $tipografiaPrincipal;
        font-size: 0.9rem;

        .footer-column-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .footer-column-2{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-content: center;
        }
        .footer-right{
            a{
                text-decoration: none;
            }
            p{
                margin-bottom: 5px;
            }
        }
        .footer-logo{
            width: 100%;
        }
        .wsppFixed{
            position: fixed;
            z-index: 9999;
            bottom: 6%;
            right: 6%;
            width: 5%;   
        }

        @media only screen and (max-width: 500px){
            .footer-logo{
                width: 50%;
            }
            .wsppFixed{
                width: 10%;
            }
        }
    }
}


.newsl-sty{
    display: grid;
    grid-template-columns: 30% 15% 55%;
    grid-template-rows: 100%;
    grid-template-areas: "one  two  three";

    &-1{
        grid-area: one;
        justify-content: center;
    }
    &-2{
        grid-area: two;
        width: 80%;
        height: 80%;
        text-align: center;
    }
    &-3{
        grid-area: three;
        &-mailbox{
            border-radius: 1rem 0 0 1rem;
        }
        h4#mailOkNL{
            display: none;
            span{
                font-family: FontAwesome; 
                color: #FE336D;
                margin-left: 10px;
            }
        }
    }

    &-button{
        background: $colorRosaOscuro;
        border-radius: 0 1rem 1rem 0;
        border: none;
        font-family: $tipografiaSecundaria;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.7rem;
        text-align: center;
        color: $colorBlanco;
        &:hover{
            color: white;
        }
    }

}

@media only screen and (max-width: 700px) {
    .newsl-sty{
        grid-template-columns: 30% 70%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "two   one"
                             "three three";
        &-1{
            font-size: 0.7rem;
        }

        &-3{
            padding: 0.5rem;
        }
    }
}