@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body{
    footer{
        font-family: "Inter";
        .footer-column-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .footer-column-2{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-content: center;
            
        }
        .footer-right{
            .footer-right-3{
                padding: 0;
            }
            a{
                text-decoration: none;
            }
            p{
                margin-bottom: 5px;
            }
        }
        .footer-logo{
            width: 100%;
        }
        .wsppFixed{
            position: fixed;
            z-index: 9999;
            bottom: 1%;
            right: 3%;
            width: 11%;
            
        }
    }
}