.nav-bar-sty{
    position: sticky;
    width: 100%;
    height: 116px;
    left: 0px;
    top: 0px;
    background: $colorPrincipal;
    z-index: 99;
}

.line-divided{
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0px;
    top: 110px;
    background: $colorSecundario;
}

.logo-sizing{
    position: absolute;
    width: 130.6px;
    height: 60px;
    left: 75px;
    top: 28px;
}

//Imagen principal y sus agregados
.img-principal{
    background-image: url(../assets/bi11.png);
    background-repeat: round;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 116px;
}

.title-img{
    position: absolute;
    width: 406px;
    height: 130px;
    left: 80px;
    top: 287px;
    z-index: 9;
    font-family: $tipografiaPrincipal;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 65px;
    color: $colorPrincipal;
}

.text-img{
    position: absolute;
    width: 60px;
    height: 27px;
    left: 84px;
    top: 255px;
    z-index: 9;
    font-family: $tipografiaSecundaria;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: $colorPrincipal;
}

.boton-img{
    position: absolute;
    width: 125px;
    height: 48px;
    left: 84px;
    top: 451px;
    background: $colorTerciario;
    border-radius: 7px;
    font-family: $tipografiaSecundaria;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $colorPrincipal;
}

.onda-img{
    position: absolute;
    left: 15px;
    right: 10px;
    top: 170px;
    bottom: 93.25%;
}