.bikini-title{
    @extend .category-title;
}

.text-vertodo{
    @extend .productdest-cardtitle;
    text-decoration: none;
    &:hover{
        color: darken($color: $colorRosaOscuro, $amount: 10);
    }
}

@media only screen and (max-width: 500px){
    .text-vertodo{
        font-size: 0.5rem;
    }
}