.bikini-title{
    font-family: $tipografiaSecundaria;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #959595;
}

.text-vertodo{
    color: $colorGris;
    font-family: $tipografiaPrincipal;
    text-decoration: none;
    text-align: right;
    &:hover{
        color: darken($color: $colorRosaOscuro, $amount: 10);
    }
}

@media only screen and (max-width: 500px){
    .text-vertodo{
        font-size: 0.5rem;
    }
}